server/StatementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns2="http://StatementService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://StatementService">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
      xmlns:ns0="http://pety.dynu.net/CloudBank/StatementService"
      xmlns:ns1="http://pety.homelinux.org/CloudBank/LedgerAccountService"
      targetNamespace="http://StatementService"
      elementFormDefault="qualified">
      <xs:import schemaLocation="../lib/StatementService.xsd" namespace="http://pety.dynu.net/CloudBank/StatementService"/>
      <xs:import schemaLocation="../lib/LedgerAccountService.xsd" namespace="http://pety.homelinux.org/CloudBank/LedgerAccountService"/>
      <xs:element name="importStatement">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="p_statement" type="ns0:Statement"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="importStatementResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="importStatementReturn" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findUnmatchedItems">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="p_accountID" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findUnmatchedItemsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="findUnmatchedItemsReturn" type="ns0:StatementItemSet"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="match">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="p_accountID" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="matchResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="matchReturn" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="clearAllMatchedEvents">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="p_accountID" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="clearAllMatchedEventsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="clearAllMatchedEventsReturn" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findOpeningBalance">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="p_accountID" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findOpeningBalanceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="findOpeningBalanceReturn" type="ns0:StatementItem"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findClosingBalance">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="p_accountID" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findClosingBalanceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="findClosingBalanceReturn" type="ns0:StatementItem"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="purge">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="purgeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="purgeReturn" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findAccountsForStatement">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findAccountsForStatementResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="findAccountsForStatementReturn" type="ns1:AccountSet"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="importStatementRequest">
    <wsdl:part name="importStatementRequest" element="tns2:importStatement"/>
  </wsdl:message>
  <wsdl:message name="importStatementResponse">
    <wsdl:part name="return" element="tns2:importStatementResponse"/>
  </wsdl:message>
  <wsdl:message name="findUnmatchedItemsRequest">
    <wsdl:part name="findUnmatchedItemsRequest" element="tns2:findUnmatchedItems"/>
  </wsdl:message>
  <wsdl:message name="findUnmatchedItemsResponse">
    <wsdl:part name="return" element="tns2:findUnmatchedItemsResponse"/>
  </wsdl:message>
  <wsdl:message name="matchRequest">
    <wsdl:part name="matchRequest" element="tns2:match"/>
  </wsdl:message>
  <wsdl:message name="matchResponse">
    <wsdl:part name="return" element="tns2:matchResponse"/>
  </wsdl:message>
  <wsdl:message name="clearAllMatchedEventsRequest">
    <wsdl:part name="clearAllMatchedEventsRequest" element="tns2:clearAllMatchedEvents"/>
  </wsdl:message>
  <wsdl:message name="clearAllMatchedEventsResponse">
    <wsdl:part name="return" element="tns2:clearAllMatchedEventsResponse"/>
  </wsdl:message>
  <wsdl:message name="findOpeningBalanceRequest">
    <wsdl:part name="findOpeningBalanceRequest" element="tns2:findOpeningBalance"/>
  </wsdl:message>
  <wsdl:message name="findOpeningBalanceResponse">
    <wsdl:part name="return" element="tns2:findOpeningBalanceResponse"/>
  </wsdl:message>
  <wsdl:message name="findClosingBalanceRequest">
    <wsdl:part name="findClosingBalanceRequest" element="tns2:findClosingBalance"/>
  </wsdl:message>
  <wsdl:message name="findClosingBalanceResponse">
    <wsdl:part name="return" element="tns2:findClosingBalanceResponse"/>
  </wsdl:message>
  <wsdl:message name="purgeRequest">
    <wsdl:part name="purgeRequest" element="tns2:purge"/>
  </wsdl:message>
  <wsdl:message name="purgeResponse">
    <wsdl:part name="return" element="tns2:purgeResponse"/>
  </wsdl:message>
  <wsdl:message name="findAccountsForStatementRequest">
    <wsdl:part name="findAccountsForStatementRequest" element="tns2:findAccountsForStatement"/>
  </wsdl:message>
  <wsdl:message name="findAccountsForStatementResponse">
    <wsdl:part name="return" element="tns2:findAccountsForStatementResponse"/>
  </wsdl:message>
  <wsdl:portType name="StatementServicePortType">
    <wsdl:operation name="importStatement">
      <wsdl:input message="tns2:importStatementRequest"/>
      <wsdl:output message="tns2:importStatementResponse"/>
    </wsdl:operation>
    <wsdl:operation name="findUnmatchedItems">
      <wsdl:input message="tns2:findUnmatchedItemsRequest"/>
      <wsdl:output message="tns2:findUnmatchedItemsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="match">
      <wsdl:input message="tns2:matchRequest"/>
      <wsdl:output message="tns2:matchResponse"/>
    </wsdl:operation>
    <wsdl:operation name="clearAllMatchedEvents">
      <wsdl:input message="tns2:clearAllMatchedEventsRequest"/>
      <wsdl:output message="tns2:clearAllMatchedEventsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="findOpeningBalance">
      <wsdl:input message="tns2:findOpeningBalanceRequest"/>
      <wsdl:output message="tns2:findOpeningBalanceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="findClosingBalance">
      <wsdl:input message="tns2:findClosingBalanceRequest"/>
      <wsdl:output message="tns2:findClosingBalanceResponse"/>
    </wsdl:operation>
    <wsdl:operation name="purge">
      <wsdl:input message="tns2:purgeRequest"/>
      <wsdl:output message="tns2:purgeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="findAccountsForStatement">
      <wsdl:input message="tns2:findAccountsForStatementRequest"/>
      <wsdl:output message="tns2:findAccountsForStatementResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StatementServiceBinding" type="tns2:StatementServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="importStatement">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findUnmatchedItems">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="match">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearAllMatchedEvents">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findOpeningBalance">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findClosingBalance">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="purge">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAccountsForStatement">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatementServiceService">
    <wsdl:port name="StatementServicePort" binding="tns2:StatementServiceBinding">
      <soap:address location="http://localhost:8080/server/StatementService.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

<!-- this line identifies this file as WSDL generated by SCA for PHP. Do not remove -->