server/StatementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns2="http://StatementService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://StatementService">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
      xmlns:ns0="http://pety.dynu.net/CloudBank/StatementService"
      targetNamespace="http://StatementService"
      elementFormDefault="qualified">
      <xs:import schemaLocation="../lib/StatementService.xsd" namespace="http://pety.dynu.net/CloudBank/StatementService"/>
      <xs:element name="importStatement">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="p_statement" type="ns0:Statement"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="importStatementResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="importStatementReturn" type="xs:bool"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="purge">
        <xs:complexType>
          <xs:sequence>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="purgeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="purgeReturn" type="xs:bool"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="importStatementRequest">
    <wsdl:part name="importStatementRequest" element="tns2:importStatement"/>
  </wsdl:message>
  <wsdl:message name="importStatementResponse">
    <wsdl:part name="return" element="tns2:importStatementResponse"/>
  </wsdl:message>
  <wsdl:message name="purgeRequest">
    <wsdl:part name="purgeRequest" element="tns2:purge"/>
  </wsdl:message>
  <wsdl:message name="purgeResponse">
    <wsdl:part name="return" element="tns2:purgeResponse"/>
  </wsdl:message>
  <wsdl:portType name="StatementServicePortType">
    <wsdl:operation name="importStatement">
      <wsdl:input message="tns2:importStatementRequest"/>
      <wsdl:output message="tns2:importStatementResponse"/>
    </wsdl:operation>
    <wsdl:operation name="purge">
      <wsdl:input message="tns2:purgeRequest"/>
      <wsdl:output message="tns2:purgeResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StatementServiceBinding" type="tns2:StatementServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="importStatement">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="purge">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatementServiceService">
    <wsdl:port name="StatementServicePort" binding="tns2:StatementServiceBinding">
      <soap:address location="http://localhost:8080/server/StatementService.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

<!-- this line identifies this file as WSDL generated by SCA for PHP. Do not remove -->